<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>D - SOLAR | Premium site.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static '/site/img/shortcut.jpg' %}">
    <!-- <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png"> -->

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static '/site/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/site/css/style.css' %}" rel="stylesheet">
	<link href="{% static '/site/css/vendors.css' %}" rel="stylesheet">

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/navigation.css' %}">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static '/site/css/custom.css" rel="stylesheet">
</head>

<body>
	
	<div id="page">

		{% include '_partials/header.html' %}
	<!-- /header -->
	
	<main>
		<section class="hero_in general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Loyihalardan Namunalar</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Here some pictures ...</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="grid">
				<ul class="magnific-gallery">
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_1.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_1.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_2.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_3.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_4.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_1.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_5.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_1.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_6.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_6.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_7.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_7.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="{% static '/site/img/gallery/large/pic_8.jpg' %}" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="{% static '/site/img/gallery/large/pic_8.jpg' %}" title="Photo title" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Your caption</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			<!-- /grid gallery -->
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Here some videos ...</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="grid">
					<ul class="magnific-gallery">
						<li>
							<figure>
								<img src="{% static '/site/img/gallery/large/pic_4.jpg' %}" alt="">
								<figcaption>
								<div class="caption-content">
									<a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
										<i class="pe-7s-film"></i>
										<p>Your caption</p>
								</a>
								</div>
								</figcaption>
							</figure>
						</li>
				
						<li>
							<figure>
								<img src="{% static '/site/img/gallery/large/pic_5.jpg' %}" alt="">
								<figcaption>
								<div class="caption-content">
									 <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video" title="Video Youtube">
										<i class="pe-7s-film"></i>
										<p>Your caption</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="{% static '/site/img/gallery/large/pic_3.jpg' %}" alt="">
								<figcaption>
								<div class="caption-content">
									<a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
										<i class="pe-7s-film"></i>
										<p>Your caption</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
				<!-- /grid -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
	</main>
	<!--/main-->
	




	{% include '_partials/footer.html' %}








	<!--/footer-->
	</div>
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static '/site/js/common_scripts.js' %}"></script>
    <script src="{% static '/site/js/main.js' %}"></script>
	<script src="{% static '/site/assets/validate.js' %}"></script>
	
	
</body>
</html>