<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>D - SOLAR | Premium site.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static '/site/./img/shortcut.jpg' %}">
    <!-- <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png"> -->

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static '/site/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/site/css/style.css' %}" rel="stylesheet">
	<link href="{% static '/site/css/vendors.css' %}" rel="stylesheet">

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/site/revolution-slider/css/navigation.css' %}">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static '/site/css/custom.css' %}" rel="stylesheet">

</head>

<body class="datepicker_mobile_full"><!-- Remove this class to disable datepicker full on mobile -->
	
	<div id="page" class="theia-exception">
		
		{% include '_partials/header.html' %}
	<!-- /header -->
	
	<main>
		<section class="hero_in tours_detail">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Tour detail page</h1>
				</div>
				<span class="magnific-gallery">
					<a href="{% static '/site/img/gallery/tour_list_1.jpg' %}" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">View photos</a>
					<a href="{% static '/site/img/gallery/tour_list_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
					<a href="{% static '/site/img/gallery/tour_list_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"></a>
				</span>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<nav class="secondary_nav sticky_horizontal">
				<div class="container">
					<ul class="clearfix">
						<li><a href="#description" class="active">Description</a></li>
						<li><a href="#reviews">Reviews</a></li>
						<li><a href="#sidebar">Booking</a></li>
					</ul>
				</div>
			</nav>
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-8">
						<section id="description">
							<h2>Description</h2>
							<p>Per consequat adolescens ex, cu nibh commune <strong>temporibus vim</strong>, ad sumo viris eloquentiam sed. Mea appareat omittantur eloquentiam ad, nam ei quas oportere democritum. Prima causae admodum id est, ei timeam inimicus sed. Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
							<p>Cum et probo menandri. Officiis consulatu pro et, ne sea sale invidunt, sed ut sint <strong>blandit</strong> efficiendi. Atomorum explicari eu qui, est enim quaerendum te. Quo harum viris id. Per ne quando dolore evertitur, pro ad cibo commune.</p>

							<h3>Pictures from our users</h3>
							<div class="pictures_grid magnific-gallery clearfix">
							    <figure><a href="{% static '/site/img/detail_gallery/detail_1.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"><img src="{% static '/site/img/detail_gallery/detail_1.jpg' %}" alt=""></a></figure>
							    <figure><a href="{% static '/site/img/detail_gallery/detail_2.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"><img src="{% static '/site/img/detail_gallery/detail_2.jpg' %}" alt=""></a></figure>
							    <figure><a href="{% static '/site/img/detail_gallery/detail_3.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"><img src="{% static '/site/img/detail_gallery/detail_3.jpg' %}" alt=""></a></figure>
							    <figure><a href="{% static '/site/img/detail_gallery/detail_4.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"><img src="{% static '/site/img/detail_gallery/detail_4.jpg' %}" alt=""></a></figure>
							    <figure><a href="{% static '/site/img/detail_gallery/detail_5.jpg' %}" title="Photo title" data-effect="mfp-zoom-in"><span class="d-flex align-items-center justify-content-center">+10</span><img src="{% static 'site/img/detail_gallery/detail_5.jpg' %}" alt=""></a></figure>
							</div>
							<!-- /pictures -->
							
							<hr>

							<h3>Program <small>(60 minutes)</small></h3>
							<p>
								Iudico omnesque vis at, ius an laboramus adversarium. An eirmod doctus admodum est, vero numquam et mel, an duo modo error. No affert timeam mea, legimus ceteros his in. Aperiri honestatis sit at. Eos aeque fuisset ei, case denique eam ne. Augue invidunt has ad, ullum debitis mea ei, ne aliquip dignissim nec.
							</p>
							<ul class="cbp_tmtimeline">
								<li>
									<time class="cbp_tmtime" datetime="09:30"><span>30 min.</span><span>09:30</span>
									</time>
									<div class="cbp_tmicon">
										1
									</div>
									<div class="cbp_tmlabel">
										<div class="hidden-xs">
											<img src="{% static '/site/img/tour_plan_1.jpg' %}" alt="" class="rounded-circle thumb_visit">
										</div>
										<h4>Interior of the cathedral</h4>
										<p>
											Vero consequat cotidieque ad eam. Ea duis errem qui, impedit blandit sed eu. Ius diam vivendo ne.
										</p>
									</div>
								</li>
								<li>
									<time class="cbp_tmtime" datetime="11:30"><span>2 hours</span><span>11:30</span>
									</time>
									<div class="cbp_tmicon">
										2
									</div>
									<div class="cbp_tmlabel">
										<div class="hidden-xs">
											<img src="{% static '/site/img/tour_plan_2.jpg' %}" alt="" class="rounded-circle thumb_visit">
										</div>
										<h4>Statue of Saint Reparata</h4>
										<p>
											Vero consequat cotidieque ad eam. Ea duis errem qui, impedit blandit sed eu. Ius diam vivendo ne.
										</p>
									</div>
								</li>
								<li>
									<time class="cbp_tmtime" datetime="13:30"><span>1 hour</span><span>13:30</span>
									</time>
									<div class="cbp_tmicon">
										3
									</div>
									<div class="cbp_tmlabel">
										<div class="hidden-xs">
											<img src="{% static '/site/img/tour_plan_3.jpg' %}" alt="" class="rounded-circle thumb_visit">
										</div>
										<h4>Huge clock decorated</h4>
										<p>
											Vero consequat cotidieque ad eam. Ea duis errem qui, impedit blandit sed eu. Ius diam vivendo ne.
										</p>
									</div>
								</li>
								<li>
									<time class="cbp_tmtime" datetime="14:30"><span>2 hours</span><span>14:30</span>
									</time>
									<div class="cbp_tmicon">
										4
									</div>
									<div class="cbp_tmlabel">
										<div class="hidden-xs">
											<img src="{% static '/site/img/tour_plan_4.jpg' %}" alt="" class="rounded-circle thumb_visit">
										</div>
										<h4>Vasari's fresco</h4>
										<p>
											Vero consequat cotidieque ad eam. Ea duis errem qui, impedit blandit sed eu. Ius diam vivendo ne.
										</p>
									</div>
								</li>
							</ul>
							<hr>
							<p>Mea appareat omittantur eloquentiam ad, nam ei quas <strong>oportere democritum</strong>. Prima causae admodum id est, ei timeam inimicus sed. Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum at.</p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="bullets">
										<li>Dolorem mediocritatem</li>
										<li>Mea appareat</li>
										<li>Prima causae</li>
										<li>Singulis indoctum</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="bullets">
										<li>Timeam inimicus</li>
										<li>Oportere democritum</li>
										<li>Cetero inermis</li>
										<li>Pertinacia eum</li>
									</ul>
								</div>
							</div>
							<!-- /row -->
							
							<hr>
							<h3>Location</h3>
							<div id="map" class="map map_single add_bottom_30"></div>
							<!-- End Map -->
						</section>
						<!-- /section -->
					
						<section id="reviews">
							<h2>Reviews</h2>
							<div class="reviews-container">
								<div class="row">
									<div class="col-lg-3">
										<div id="review_summary">
											<strong>8.5</strong>
											<em>Superb</em>
											<small>Based on 4 reviews</small>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
										</div>
										<!-- /row -->
									</div>
								</div>
								<!-- /row -->
							</div>

							<hr>

							<div class="reviews-container">

								<div class="review-box clearfix">
									<figure class="rev-thumb"><img src="{% static '/site/img/avatar1.jpg' %}" alt="">
									</figure>
									<div class="rev-content">
										<div class="rating">
											<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
										</div>
										<div class="rev-info">
											Admin – April 03, 2016:
										</div>
										<div class="rev-text">
											<p>
												Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
											</p>
										</div>
									</div>
								</div>
								<!-- /review-box -->
								<div class="review-box clearfix">
									<figure class="rev-thumb"><img src="{% static '/site/img/avatar2.jpg' %}" alt="">
									</figure>
									<div class="rev-content">
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
										</div>
										<div class="rev-info">
											Ahsan – April 01, 2016:
										</div>
										<div class="rev-text">
											<p>
												Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
											</p>
										</div>
									</div>
								</div>
								<!-- /review-box -->
								<div class="review-box clearfix">
									<figure class="rev-thumb"><img src="{% static '/site/img/avatar3.jpg' %}" alt="">
									</figure>
									<div class="rev-content">
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
										</div>
										<div class="rev-info">
											Sara – March 31, 2016:
										</div>
										<div class="rev-text">
											<p>
												Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
											</p>
										</div>
									</div>
								</div>
								<!-- /review-box -->
							</div>
							<!-- /review-container -->
						</section>
						<!-- /section -->
						<hr>

							<div class="add-review">
								<h5>Leave a Review</h5>
								<form>
									<div class="row">
										<div class="form-group col-md-6">
											<label>Name and Lastname *</label>
											<input type="text" name="name_review" id="name_review" placeholder="" class="form-control">
										</div>
										<div class="form-group col-md-6">
											<label>Email *</label>
											<input type="email" name="email_review" id="email_review" class="form-control">
										</div>
										<div class="form-group col-md-6">
											<label>Rating </label>
											<div class="custom-select-form">
											<select name="rating_review" id="rating_review" class="wide">
												<option value="1">1 (lowest)</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5" selected>5 (medium)</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10 (highest)</option>
											</select>
											</div>
										</div>
										<div class="form-group col-md-12">
											<label>Your Review</label>
											<textarea name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
										</div>
										<div class="form-group col-md-12 add_top_20">
											<input type="submit" value="Submit" class="btn_1" id="submit-review">
										</div>
									</div>
								</form>
							</div>
					</div>
					<!-- /col -->
					
					<aside class="col-lg-4" id="sidebar">
						<div class="box_detail booking">
							<div class="price">
								<span>45$ <small>person</small></span>
								<div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
							</div>
							<div class="form-group input-dates">
								<input class="form-control" type="text" name="dates" placeholder="When..">
								<i class="icon_calendar"></i>
							</div>
							<div class="panel-dropdown">
								<a href="#">Guests <span class="qtyTotal">1</span></a>
								<div class="panel-dropdown-content right">
									<div class="qtyButtons">
										<label>Adults</label>
										<input type="text" name="qtyInput" value="1">
									</div>
									<div class="qtyButtons">
										<label>Childrens</label>
										<input type="text" name="qtyInput" value="0">
									</div>
								</div>
							</div>
							<a href="cart-1.html" class="btn_1 full-width purchase">Purchase</a>
							<a href="wishlist.html" class="btn_1 full-width outline wishlist"><i class="icon_heart"></i> Add to wishlist</a>
							<div class="text-center"><small>No money charged in this step</small></div>
						</div>
						<ul class="share-buttons">
							<li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
							<li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Tweet</a></li>
							<li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
						</ul>
					</aside>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->
	



	{% include '_partials/footer.html' %}









	<!-- /Sign In Popup -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static '/site/js/common_scripts.js' %}"></script>
    <script src="{% static '/site/js/main.js' %}"></script>
	<script src="{% static '/site/assets/validate.js' %}"></script>
	
	<!-- Map -->
	<script src="{% static '/site/http://maps.googleapis.com/maps/api/js' %}"></script>
	<script src="{% static '/site/js/map_single_tour.js' %}"></script>
	<script src="{% static '/site/js/infobox.js' %}"></script>
	
	<!-- DATEPICKER  -->
	<script>
	$(function() {
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  parentEl:'.scroll-fix',
		  minDate:new Date(),
		  opens: 'left',
		  locale: {
			  cancelLabel: 'Clear'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });
	});
	</script>
	
	<!-- INPUT QUANTITY  -->
	<script src="{% static '/site/js/input_qty.js' %}"></script>
  
</body>
</html>